{{> header}}
<main>
  <h1>Welcome {{username}}! </h1>
  <a href="/search">
    <button class="btn">Add New Medication</button>
  </a>
  <h2>Current Medications</h2>
   <div class="medicine-container">
      {{#each userMeds}}
        <a href="/medicine/{{this.id}}">
          <button class="medicine-btn">{{this.medicine_name}} &nbsp; {{this.dosage_mg}}mg &nbsp; {{this.frequency}}</button>
        </a>
      {{/each}}
    </div>
</main>
