{{> header}}
<main>
  <h1 class="dashboard-welcome">Welcome to {{username}}'s </h1>
  <h1 class="dashboard-script">Dashboard </h1>
  <a href="/search">
    <button class="add-btn">Add New Medication</button>
  </a>
  <h2>Current Medications</h2>
  <h3>(Click to see details)</h3>
   <div class="medicine-container">
      {{#each userMeds}}
        <a href="/medicine/{{this.id}}">
          <button class="dashboard-medicine-list-btn">{{this.medicine_name}} &nbsp; {{this.dosage_mg}}mg &nbsp; {{this.frequency}}</button>
        </a>
      {{/each}}
    </div>
</main>
