{{> header}}
<main>
  <h3>Welcome to {{username}}'s </h3>
  <h1 class="app_name_script">Dashboard </h1>
  <a href="/search">
    <button class="add-btn">Add New Medication</button>
  </a>
  <h2>Current Medications</h2>
  <h4>(Click to see details)</h4>
   <div class="medicine-container">
      {{#each userMeds}}
        <a href="/medicine/{{this.id}}">
          <button class="medicine-btn">{{this.medicine_name}} &nbsp; {{this.dosage_mg}}mg &nbsp; {{this.frequency}}</button>
        </a>
      {{/each}}
    </div>
</main>
