{{> header}}
<main>
  <h1>Update or Delete Medicine</h1>
  <form class="login-form">

    <label for="medicine_name">Medicine Name</label>
    <input type="text" name="medicine_name" value="{{medicine_name}}" id="medicine_name">

    <label for="dosage_mg">Dosage</label>
    <input type="text" name="dosage_mg" value="{{dosage_mg}}" id="dosage_mg" >

    <label for="frequency">Frequency</label>
    <input type="text" name="frequency" value="{{frequency}}" id="frequency">

    <button class="btn" data-medId="{{id}}" id="updateButton" >Update</button>
  </form>

  <button class="btn" name="deleteButton" type="submit" data-medId="{{id}}" id="deleteButton">Delete</button>


</main>

<script src = "/index.js"></script>

