{{> header}}
<main>
  <h1>Enter new Medication Name</h1>
  <div>
    {{#if response}}
      <p>
      Did you mean {{response}}? </br>
      If so, click submit, otherwise enter a new medicine name.
      </p> 
    {{!-- <p>Did you mean <a href="/search?medName={{response}}">{{response}}</a></p>  --}}
    {{/if}}

    {{#if error}}
    <p>{{error}}</p> 
    {{/if}}

    </div>
  <form class="login-form" action="/api/search" method="POST">
    <label for="newMedName">Medicine Name</label>
    <input type="text" name="newMedName" {{#if confirmName}} value="{{confirmName}}" {{/if}} id="newMedName">
    <button class="btn">Submit</button>
  </form>
  
</main>

